
.layoutRight {
  height: 100vh;
  overflow: auto;
}

.headerWrapper {
  float: right;
  background: #fff;
  line-height: 0px;
  height: 43px;
  border-bottom: 1px solid #ccc;
}

.headerItem {
  float: right;
  padding-top: 12px;
}

.headerIcon {
  margin-right: 5px;
}

.breadcrumbWrapper {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 10px;
  :global{

    .ant-breadcrumb{
      padding-left: 15px;
    }
  }
}

.contentWrapper {
  overflow: auto;
  padding: 10px;
  background: #F0F2F5;
  min-height:85vh;
  position:relative

}

.contentDiv{

}
